@use "./base.scss";

// put your custom CSS here!

* {
    box-sizing: border-box;
}

iframe {
    border: none;
    display: block;
    margin: 8px 0;
}

// Layout Changes
#main-page-content {
    min-height: 60vh;
}

#nicole-quartz-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nicole-quartz-body {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
}
